In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
A database is an organized collection of structured information, or data, typically stored electronically in a computer
system. A database is usually controlled by a database management system (DBMS).

SQL Databases:
SQL databases are relational databases that use structured query language (SQL) for defining and manipulating data.
They have a predefined schema, which means the structure of the data (tables, columns, relationships) must be defined 
before data can be stored.
Examples  MySQL, PostgreSQL, Oracle, and Microsoft SQL Server.
SQL databases are generally best suited for applications that require complex queries, transactions, and strong
consistency guarantees. They are commonly used in traditional enterprise applications and systems

NoSQL Databases:
NoSQL databases are non-relational databases designed for storing and retrieving large volumes of unstructured or 
semi-structured data.
They offer more flexibility in terms of schema design, allowing for dynamic and schema-less data models.
NoSQL databases are horizontally scalable, meaning they can easily handle large amounts of data by adding more nodes to the
database cluster.
Examples MongoDB, Cassandra, Couchbase, and Redis.
NoSQL databases are often used in applications that require high availability, scalability, and performance, such as web 
applications, real-time analytics, and IoT (Internet of Things) platforms.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
DDL stands for Data Definition Language. It is used for defining and managing the structure of a database and its objects. 
DDL statements are used to create, modify, and delete database objects such as tables, indexes, and views

In [ ]:
CREATE: The CREATE statement is used to create new database objects such as tables, indexes, views, or stored procedures.
CREATE TABLE employees (
    employee_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    email VARCHAR(100),
);

DROP: The DROP statement is used to delete existing database objects.
DROP TABLE employees;

ALTER: The ALTER statement is used to modify the structure of an existing database object. It can be used to add, modify,
or drop columns, constraints, or indexes. 
ALTER TABLE employees
ADD department_id INT;

TRUNCATE: The TRUNCATE statement is used to delete all rows from a table while preserving the table structure.
TRUNCATE TABLE employees;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
DML stands for Data Manipulation Language. It is  used for manipulating data stored in a database. 
DML statements are used to perform operations such as inserting, updating, and deleting data within database tables.

In [ ]:
INSERT: The INSERT statement is used to add new rows of data into a table
INSERT INTO employees (employee_id, first_name, last_name, email, hire_date)
VALUES (1, 'John', 'Doe', 'john@example.com', '2024-04-29');
 
UPDATE: The UPDATE statement is used to modify existing data in a table
UPDATE employees SET email = 'john.doe@example.com' WHERE employee_id = 1;

DELETE: The DELETE statement is used to remove one or more rows from a table.
DELETE FROM employees WHERE employee_id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.

In [ ]:
DQL stands for Data Query Language. It is used for querying and retrieving data from a database.
DQL statements are primarily focused on retrieving data based on specified criteria

In [ ]:
SELECT: The SELECT statement is used to retrieve data from one or more tables in a database
SELECT first_name, last_name
FROM employees;

In [ ]:
Q5. Explain Primary Key and Foreign Key.

In [ ]:
A primary key is a column/set of columns in a table that uniquely identifies each row in that table.
It must have a unique value for each row and cannot contain NULL values.
When designing a database schema, selecting a primary key is crucial as it helps in uniquely identifying each record 
and establishing relationships between tables.

A foreign key is a column/set of columns in a table that establishes a relationship with a primary key or a unique key
in another table. It enforces referential integrity by ensuring that the values in the foreign key columns correspond to
values in the primary key or unique key columns in the related table. In other words, a foreign key in one table points 
to a primary key or unique key in another table, creating a link or a relationship between the two tables.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="abc",
    password="password"
)
mycursor = mydb.cursor()

The cursor() method is used to create a cursor object. A cursor is a control structure that enables traversal over the records
in a database. It allows to execute SQL queries,fetch data, and perform various operations on the database.

The execute() method is used to execute SQL queries or commands through the cursor object. It takes the SQL query as a
parameter and executes it on the connected database

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
In SQL, the order of execution of clauses in an SQL query is generally as follows:

FROM: This clause specifies the table from which the data will be retrieved.
WHERE: This clause filters rows based on a specified condition.
GROUP BY: This clause groups rows that have the same values into summary rows.
HAVING: This clause filters groups based on a specified condition.
SELECT: This clause selects the columns that you want to include in the result set.
DISTINCT: This clause eliminates duplicate rows from the result set.
ORDER BY: This clause sorts the result set based on specified columns.